.gSignUp {
    height: 100vh;
    background: #F8EDEC;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.guide_auth_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gac__left {
    flex: 0.4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.gac__left__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gac__left__header h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 2.35rem;
    color: var(--primary-color);
}


.gac__left__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gac_input {
    box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.85), inset -3px -3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    font-family: var(--primary-font);
    color: var(--bg-invert);
    font-weight: 500;
    padding: 1rem;
    background: #F8EDEC;
}


.gac_right {
    flex: 0.6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gac_right > img {
    width: 70%;
    object-fit: contain;
    pointer-events: none;
    padding: 2rem;
}


@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
    .gSignUp {
        height: 100%;
    }
    .guide_auth_container {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 800px) {
    .gac__left {
        flex: 1;
        min-height: 100vh;
    }

    .gac__left__header h1 {
        font-size: 2.15rem;
    }


    .gac_input {
        background: transparent;
    }

    .gac_right {
        flex: 1;
    }
}

@media screen and (max-width: 600px) {

    .gac__left__header h1 {
        font-size: 2.05rem;
    }
}

@media screen and (max-width: 400px) {
    .gSignUp {
        height: 100%;
    }
    .gac__left__header h1 {
        font-size: 1.7rem;
    }

    .gac_input {
        width: 270px;
    }

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .gSignUp {
        height: 100%;
    }
    .gac__left__header h1 {
        font-size: 1.7rem;
    }

    .gac_input {
        width: 270px;
    }
}


@media only screen and (device-width: 768px) {

}