.planSlider {
    padding: 2rem;
}


.slick-slider {
    height: 100% !important;
}


.slick-initialized { 
    overflow: hidden; 
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.planSlider__container {
    background: #FAFAFA;
    border-radius: 20px;
    height: 60vh;
}