.trending {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin-top: 4rem;
}

.trending h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #555555;
}

.trending__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    padding-bottom: 2rem;
}
.trending__container::-webkit-scrollbar {
    display: none;
}

.trendingCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.74rem;
    background: #F3F5F7;
    box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    flex-shrink: 0;
}

.trendingCard img {
    border-radius: 10px;
    width: 140px;
    height: 120px;
}

.trendingCard h3 {
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.01em; 
    color: #555555;
    margin-top: 0.85rem;
}
.trendingCard p {
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.01em;
    color: rgba(85, 85, 85, 0.6);
    margin-top: -0.25rem;
    
}