.placePage {
    display: flex;
    flex-direction: column;
}

.placesPage__btn_container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
    overflow-x: scroll;
    padding-right: 1rem;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    padding: 0 2rem;
}

.placesPage__btn_container::-webkit-scrollbar {
    display: none;
}

.placesPage__btn_container button {
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    border-radius: 40px;
    width: 107px;
    height: 34px;
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 14px;
    white-space: nowrap;
    flex-shrink: 0;
}

.selected {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
}

.not_selected {
    border: 2px solid rgba(85, 85, 85, 0.6);
    color: rgba(85, 85, 85, 0.6);
    font-weight: 500;
}

.placeTab__container {
    width: 100%;
}




@media screen and (max-width: 992px) {
    .placesPage__btn_container {
        padding: 0 1rem;
    }
    
}

@media screen and (max-width: 800px) {

    
}