/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600&display=swap');

/* VARIABLES */

:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-color: #3ACE40;
}

[data-theme="light"]{
  --blue: #31A0DE;
  --bg: #ECF4F8;
  --bg-invert: #2F2F2F;
  --input-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.85), inset -3px -3px 6px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"]{
  --blue: #B1E0FA;
  --bg: #2F2F2F;
  --bg-invert: #ECF4F8;
  --input-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.20), inset -3px -3px 6px rgba(0, 0, 0, 0.50);
}
