/* FONT IMPORTS */


/* VARIABLES */

:root {
  --primary-font: Montserrat;
  --primary-color: #3ACE40;
}

[data-theme="light"]{
  --text-color: black;
  --secondary-color: #a64dff;

}

[data-theme="dark"]{
  --text-color: white;
  --secondary-color: #3ACE40;
}
